*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    background-color: #ffffff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    margin: 0 auto;
}

.logo{
    width: 100px;
    height: 70px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: transform 0.5s ease;
    margin-left: 100px;
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.welcome{
    margin-left: 10px;
    color: #2676C5;
    font-weight: 600;
    font-size: 30px;
    width: 380px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.menu a{
    text-decoration: none;
    color: #2676C5;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    width: 100px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #2676C5;
    padding: 6px;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.menu a:hover{
    cursor: pointer;
    background-color: #3399FE;
    transform: scale(1.1);
    color: #ffffff;
}

.logOutBtn{
    text-decoration: none;
    text-transform: uppercase;
    color: #2676C5;
    font-weight: 600;
    font-size: 18px;
    width: 100px;
    margin-right: 10px;
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 7px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #2676C5;
    transition: transform 0.5s ease;
}

.logOutBtn:hover{
    cursor: pointer;
    background-color: #3399FE;
    transform: scale(1.1);
    color: #ffffff;
}

.filter{
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    gap: 10px;
    top: 50px;
    margin-left: 60px;
}

.filter label{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.filter select{
    border-radius: 10px;
    width: 150px;
}

.filter button, .sort button{
    width: 100px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    transition: 0.5s;
    padding: 6px;
    border: 1px solid #000000;
}

.filter button:hover, .sort button:hover{
    cursor: pointer;
    background-color: #3399FE;
    color: #ffffff;
    border: none;
}

.filter input{
    border-radius: 10px;
}

.sort{
    top: 160px;
    margin-left: 600px;
    position: absolute;
}

.sort label{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.allFlatsTable{
    margin-left: 250px;
    margin-top: 50px;
    width: 1000px;
    border-collapse: collapse;
    text-align: center;
    background-color: #3399FE;
}

.allFlatsTable th, .allFlatsTable td{
    border: 1px solid #000000;
    padding: 8px;
    color: #ffffff;
}

.allFlatsTable th{
    background-color: #3399FE;
}

.allFlatsTitle{
    text-align: center;
    color: #2676C5;
    font-weight: 600;
    font-size: 30px;
    margin-top: 50px;
    text-transform: stretch;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
