*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    background-color: #ffffff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    margin: 0 auto;
}

.logo{
    width: 100px;
    height: 70px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: transform 0.5s ease;
    margin-left: 100px;
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.welcome{
    margin-left: 10px;
    color: #2676C5;
    font-weight: 600;
    font-size: 30px;
    width: 380px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.menu a{
    text-decoration: none;
    color: #2676C5;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    width: 100px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #2676C5;
    padding: 6px;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.menu a:hover{
    cursor: pointer;
    background-color: #3399FE;
    transform: scale(1.1);
    color: #ffffff;
}

.logOutBtn{
    text-decoration: none;
    text-transform: uppercase;
    color: #2676C5;
    font-weight: 600;
    font-size: 18px;
    width: 100px;
    margin-right: 10px;
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 7px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #2676C5;
    transition: transform 0.5s ease;
}

.logOutBtn:hover{
    cursor: pointer;
    background-color: #3399FE;
    transform: scale(1.1);
    color: #ffffff;
}

.filter{
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    gap: 10px;
    top: 50px;
    margin-left: 60px;
}

.filter label{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.filter select{
    border-radius: 10px;
    width: 150px;
}

.filter button, .sort button{
    width: 100px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    transition: 0.5s;
    padding: 6px;
    border: 1px solid #000000;
}

.filter button:hover, .sort button:hover{
    cursor: pointer;
    background-color: #3399FE;
    color: #ffffff;
    border: none;
}

.filter input{
    border-radius: 10px;
}

.sort{
    top: 160px;
    margin-left: 600px;
    position: absolute;
}

.sort label{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.homeTable{
    margin-left: 250px;
    margin-top: 50px;
    width: 1000px;
    border-collapse: collapse;
    text-align: center;
    background-color: #2676C5;
}

.homeTable th, .homeTable td{
    border: 1px solid #000000;
    padding: 8px;
    color: #ffffff;
}

.homeTable th{
    background-color: #3399FE;
    color: #ffffff;
    border: 1px solid #000000;
}

.homeTable td button {
    background-color: #f1f1f1; 
    border: 2px solid #ddd; 
    border-radius: 5px; 
    padding: 5px 10px; 
    font-size: 18px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, border-color 0.3s ease; 
}

.homeTable td button:hover {
    background-color: #e0e0e0; 
    border-color: #bbb;
    cursor: pointer;
}

.homeTable td button {
    background-color: #f8d7da; 
    border: 2px solid #f5c6cb; 
    padding: 5px 10px; 
    font-size: 18px; 
    color: #000000; 
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease; 
}

.remove:hover {
    background-color: #f5c6cb;
    border-color: #f1b0b7;
}

.remove i {
    margin-right: 5px;
}

@media only screen and (max-width: 375px) {
    .header {
        width: 100%;
        height: 70px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 70px;
        height: 50px;
        margin-left: 3px;
    }

    .welcome {
        font-size: 15px;
        width: auto;
        text-align: center;
    }

    .hamburger-menu {
        cursor:pointer;
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap:2px;
        width:25px;
    }

    .hamburger-menu span {
        height:5px;
        width: 25px;
        background-color: rgb(0, 0, 0);
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2px;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #2676C5;
        opacity: 0.9;
        z-index: 1;
    }

    .menu a{
        text-decoration: none;
        color:black;
        font-size: 16px;
        gap: 5px;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        width: 50%;
        box-shadow: none;
        text-align: center;
    }

    .logOutBtn {
        font-size: 11px;
        width: auto;
        padding: 5px;
        margin-right: 3px;
    }

    .filter{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
        margin-top: 10px;
        padding: 0;
        margin-left: 3px;
    }

    .sort{
        margin-top: 190px;
        padding: 0;
        gap: 8px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 3px;
    }

    .filter label, .sort label {
        font-size: 14px;
        text-align: center;
    }

    .filter input, .filter select {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 14px;
    }

    .sort select {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .sort button {
        width: auto;
        font-size: 14px;
        padding: 5px;
        margin: 0;
        border-radius: 5px;
        margin-left: 150px;
        width: 20%;
    }

    .filter button {
        width: auto;
        font-size: 14px;
        padding: 5px;
        margin: 0;
        border-radius: 5px;
        text-align: center;
        width: 20%;
    }

    .homeTable{
        width: 4px;
        height: 3px;
        margin-left: 0;
        margin-top: 280px;
    }

    .homeTable th {
        font-size: 6px;
    }

    .homeTable tbody{
        font-size: 6px;
    }
}