*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    gap: 48px;
    background: #b7d5f2;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 480px;
    height: 650px;
    background: #b7d5f2;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.loginTitle{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: #0e4e8f;
    margin-top: 28px;
    text-transform: uppercase;
}

.loginForm{
    display: flex;
    flex-direction: column;
    width: 480px;
    gap: 10px;
    margin: 30px;
}

.loginForm input{
    width: 420px;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    border: none;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.loginBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 420px;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.loginQuestion{
    font-size: 16px;
    font-weight: 400;
    color: #252d24;
    margin-top: 580px;
    margin-left: 160px;
    text-align: center;
    position: absolute;
}

.registerLink{
    text-decoration: none;
    color: #252d24;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    position: absolute;
    margin-top: 605px;
    margin-left: 190px;
}

.registerLink:hover{
    cursor: pointer;
    background-color: #2676C5;
    border-radius: 20px;
    transition: 0.5s;
    padding: 4px;
    color: #ffffff;
}

.img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/fatade_04.jpg");
}


@media (max-width: 375px) {
    .container {
        height: 550px;
        width: 80%;
        padding-right: 20px;
        box-shadow: none;
    }

    .loginForm {
        width: 100%;
        margin: 10px;
    }

    .loginForm input, .loginBtn {
        width: 100%;
        box-shadow: none;
    }

    .loginTitle {
        font-size: 22px;
        margin-top: 20px;
    }

    .img {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .loginQuestion{
        margin-top: 480px;
        margin-left: 70px;
    }

    .registerLink{
        margin-top: 510px;
        margin-left: 92px;
    }
}