*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    max-width: 1440px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    margin: 0 auto;
}

.logo{
    background-color: transparent;
    width: 100px;
    height: 70px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: transform 0.5s ease;
    margin-left: 100px;
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.welcome{
    margin-left: 10px;
    color: #2676C5;
    font-weight: 600;
    font-size: 30px;
    width: 380px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.menu a{
    text-decoration: none;
    color: #2676C5;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    width: 100px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #2676C5;
    padding: 6px;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.menu a:hover{
    cursor: pointer;
    background-color: #3399FE;
    transform: scale(1.1);
    color: #ffffff;
}

.logOutBtn{
    text-decoration: none;
    text-transform: uppercase;
    color: #2676C5;
    font-weight: 600;
    font-size: 18px;
    width: 100px;
    margin-right: 10px;
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 7px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #2676C5;
    transition: transform 0.5s ease;
}

.logOutBtn:hover{
    cursor: pointer;
    background-color: #3399FE;
    transform: scale(1.1);
    color: #ffffff;
}

.newFlatForm{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newFlatForm input{
    width: 300px;
    height: 30px;
    margin: 5px;
    border: 1px solid #2676C5;
    border-radius: 5px;
    padding: 5px;
}

.newFlatForm button{
    width: 300px;
    height: 30px;
    margin: 5px;
    border: 1px solid #2676C5;
    border-radius: 5px;
    padding: 5px;
    background-color: #2676C5;
    color: #ffffff;
    transition: transform 0.5s ease;
}

.newFlatForm button:hover{
    cursor: pointer;
    background-color: #3399FE;
    transform: scale(1.1);
}

.img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/chirie-imobiliare.jpg");
}

/*  media querry telephone min si max */

@media only screen and (max-width: 375px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .logo {
        width: 70px;
        height: 50px;
        margin-left: 0;
    }

    .welcome {
        font-size: 15px;
        width: auto;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    .menu a {
        width: auto;
        font-size: 14px;
        padding: 5px;
    }

    .logOutBtn {
        font-size: 14px;
        width: auto;
        padding: 5px;
        margin-right: 0;
    }

    .newFlatForm input, .newFlatForm button {
        width: 90%;
        margin: 5px 0;
    }

    .newFlatForm label {
        font-size: 14px;
    }

    .img {
        background-position: center;
    }
}