*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    gap: 48px;
    background: #b7d5f2;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 480px;
    height: 650px;
    background: #b7d5f2;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.profileUpdateForm{
    display: flex;
    flex-direction: column;
    width: 480px;
    gap: 10px;
    margin: 30px;
}

.profileUpdateForm input{
    width: 420px;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    border: none;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.profileUpdateBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 420px;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.profileUpdateTitle{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: #0e4e8f;
    margin-top: 28px;
    text-transform: uppercase;
}

.error{
    color: red;
    text-align: center;
}

.img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background-position: center;
    background-image: url("../images/Screenshot\ 2024-07-21\ 034811.png");
}